{% include 'layout/master.twig' %}

{% block content %}
    <div class="container">
        <div class="import-file-container">
            <form action="import/sales" enctype="multipart/form-data" method="POST">
                <label>Import Sale</label>
                <input required type="file" accept="application/json" name="sales_input" />
                <button type="submit">Start Import</button>
            </form>
        </div>
        <form action="" method="GET" class="filters-form d-flex">
            <div class="form-group">
                <label for="customer">Customer Name:</label>
                <input type="text" name="customer" id="customer" value="">
            </div>

            <div class="form-group">
                <label for="product">Product Name:</label>
                <input type="text" name="product" id="product" value="">
            </div>
            
            <div class="form-group">
                <label for="price">Product Price:</label>
                <input type="text" name="price" id="price" value="">
            </div>
            
            <div class="submit-btn">
                <button type="submit" class="filter-btn">Filter</button>
                <button type="button" class="reset-btn">Reset</button>
            </div>
        </form>

        <table class="sales-table">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Email</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Version</th>
                    <th>Sale Date</th>
                </tr>
            </thead>
            <tbody>
                {% set totalPrice = 0 %}
                {% for sale in sales %}
                    {% set totalPrice = totalPrice + sale.price %}
                    <tr>
                        <td>{{ sale.customerName }}</td>
                        <td>{{ sale.customerEmail }}</td>
                        <td>{{ sale.productName }}</td>
                        <td>{{ sale.price }}</td>
                        <td>{{ sale.version }}</td>
                        <td>{{ sale.sale_date }}</td>
                    </tr>
                {% endfor %}
                <tr class="table-footer">
                    <td colspan="3"><strong>Total Price:</strong></td>
                    <td colspan="3"><strong>{{ totalPrice }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
